<div class="component intro">
  <%= render 'admin/auth/header' %>
  <div class="top-50 mid-small center">
    <%= form_tag otp_auth_index_path do %>
      <%= label_tag :otp, 'OTP' %><br>
      <%= password_field_tag :otp, nil, placeholder: '123456', maxlength: 6 %><br><br>
      <%= submit_tag 'Verify OTP', class: 'chip mid-small active weight-600' %>
    <% end %>
  </div>
  <br>
  <%= button_to 'Resend OTP', resend_otp_auth_index_path, method: :post, class: 'bt_icon mid-small pointer' %>
</div>

<style type="text/css">
  .intro {
    padding-top: 30px;
  }
</style>
