<div class="component top-30 center">
  <%= form_tag shop_index_path, method: :get do %>
    <%= text_field_tag :q, params['q'], placeholder: 'Search by id', required: true, pattern: '[0-9]+', title: 'Please provide a valid id' %>
    <br><br>
    <%= submit_tag 'Search', class: 'chip mid-small active weight-600' %>
  <% end %>
</div>

<% if params['q'].present? %>
  <% if @shop.blank? %>
    <p class="top-50 center-text red-title-600">No records found!</p>
  <% else %>
    <table class="center top-50">
      <tr>
        <th>Id</th> <th>Name</th> <th>Mobile</th> <th>Opens at</th> <th>Closes at</th> 
        <th>Status</th> <th>Tags</th> <th>Last Updated</th> <th></th> <th></th>
      </tr>
      <% if @shop.deleted %>
      <tr style="color: var(--grey)">
      <% else %>
      <tr>
      <% end %>
        <td><%= @shop.id %></td>
        <td><%= @shop.name || '-' %></td>
        <td><%= @shop.shop_detail.mobile || '-' %></td>
        <td><%= @shop.shop_detail.opening_time.in_time_zone(PlatformConfig['time_zone']).strftime('%I:%M %p') || '-' %></td>
        <td><%= @shop.shop_detail.closing_time.in_time_zone(PlatformConfig['time_zone']).strftime('%I:%M %p') || '-' %></td>
        <td><%= Shop::STATUSES.key(@shop.status) %></td>
        <td style="max-width: 150px;"><marquee><%= @shop.tags %></marquee></td>
        <td><%= @shop.updated_at.in_time_zone(PlatformConfig['time_zone']).strftime('%d-%m-%Y %H:%M') %></td>
        <% if @shop.deleted %>
          <td></td>
          <td></td>
        <% else %>
          <td onclick="edit(<%= @shop.as_json('admin_shop').to_json %>)" class="pointer">✏️</td>
          <td><%= button_to '❌', shop_path(@shop), method: :delete, class: 'bt_icon pointer' %></td>
        <% end %>
      </tr>
    </table>

    <div class="center">
      <%= form_tag location_shop_path(@shop), method: :put, class: 'top-50 left' do %>
        <div>
          <div class="left">
            <%= label_tag :number, 'No.' %><br>
            <%= text_field_tag :number, @shop.shop_detail.address['number'], style: 'width: 50px', required: true, placeholder: '23' %><br><br>
          </div>
          <div class="right">
            <%= label_tag :street, 'Street' %><br>
            <%= text_field_tag :street, @shop.shop_detail.address['street'], style: 'width: 170px', required: true, placeholder: 'Anbu Street' %><br><br>
          </div>
          <br><br><br>

          <%= label_tag :area, 'Area' %><br>
          <%= text_field_tag :area, @shop.shop_detail.address['area'], required: true, placeholder: 'Nungambakkam' %><br><br>

          <div class="left">
            <%= label_tag :city, 'City' %><br>
            <%= text_field_tag :city, @shop.shop_detail.address['city'], style: 'width: 120px', required: true, placeholder: 'Chennai' %><br><br>
          </div>
          <div class="right">
            <%= label_tag :pincode, 'Pincode' %><br>
            <%= text_field_tag :pincode, @shop.shop_detail.address['pincode'], style: 'width: 100px', required: true, placeholder: '600077' %><br><br>
          </div>
          <br><br><br>

          <div class="left">
            <%= label_tag :lat, 'Latitude' %><br>
            <%= text_field_tag :lat, @shop.lat, style: 'width: 110px', required: true, placeholder: '27.5330' %><br><br>
          </div>
          <div class="right">
            <%= label_tag :lng, 'Longitude' %><br>
            <%= text_field_tag :lng, @shop.lng, style: 'width: 110px', required: true, placeholder: '88.5122' %><br><br>
          </div>
          <br><br><br>

          <%= label_tag :telephone, 'Telephone' %><br>
          <%= phone_field_tag :telephone, @shop.shop_detail.telephone, placeholder: '04425545880' %><br><br>
          
          <%= submit_tag 'Update Location', class: "chip mid-small #{@shop.deleted ? '' : 'active '}weight-600", disabled: @shop.deleted %>
        </div>
      <% end %>

      <div class="top-50 left-40 right" style="border-left: 1px solid var(--grey); padding-left: 40px; width: 540px;">
        <%= label_tag 'Icon' %><br>
        <div style="position: relative; width: 100px">
          <% if @shop.icon.present? %>
            <%= link_to '❌', icon_shop_path(@shop), method: :delete, class: 'pointer very-small', style: 'position: absolute; right: 0; text-decoration: none;' %>
            <%= image_tag Core::Storage.fetch_url(@shop.aws_key_path), size: '100x100' %>
          <% else %>
            <%= image_tag 'img_upload.png', onclick: "upload_image(#{@shop.id}, 'icon')", size: '100x100', class: 'pointer', style: 'opacity: 0.5;' %>
          <% end %>
        </div>
        <br>

        <%= label_tag :cover_photos, 'Cover Photos' %><br>
        <% @shop.shop_detail.cover_photos.to_a.each_with_index do |cover_photo_key, index| %>
          <div class="left right-20">
            <div style="position: relative; width: 160px;">
              <%= link_to '❌', cover_photo_shop_path({ id: @shop.id, index: index }), method: :delete, class: 'pointer very-small', style: 'position: absolute; right: 0; text-decoration: none;' %>
              <%= image_tag Core::Storage.fetch_url(@shop.shop_detail.aws_key_path(index)), size: '160x100' %>&nbsp;&nbsp;
            </div>
          </div>
        <% end %>
        <%= image_tag 'img_upload.png', onclick: "upload_image(#{@shop.id}, 'cover_photo')", size: '100x100', class: 'pointer', style: 'opacity: 0.5;' %>
        <br><br>
        <%= label_tag 'Payment' %><span onclick="show_json_modal('payment')" class="left-10 pointer">✏️</span><br>
        <pre class="smallest"><%= sanitize JSON.pretty_generate(@shop.shop_detail.payment).html_safe %></pre>

        <%= label_tag 'Meta' %><span onclick="show_json_modal('meta')" class="left-10 pointer">✏️</span><br>
        <pre class="smallest"><%= sanitize JSON.pretty_generate(@shop.shop_detail.meta).html_safe %></pre>
      </div>
    </div>
    
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hide_modal()">&times;</span><br>
        <%= form_tag '', id: 'update', method: :put do %>
          <div class="left-40 right-50">
            <%= label_tag :name, 'Name' %><br>
            <%= text_field_tag :name %><br><br>

            <%= label_tag :mobile, 'Mobile' %><br>
            <%= phone_field_tag :mobile %><br><br>

            <div class="left">
              <%= label_tag :opening_time, 'Opens at' %><br>
              <%= text_field_tag :opening_time, nil, style: 'width: 110px', required: true, placeholder: '09:30', pattern: '[0-9]{2}:[0-9]{2}', title: 'Please provide a valid time format' %><br><br>
            </div>
            <div class="right">
              <%= label_tag :closing_time, 'Closes at' %><br>
              <%= text_field_tag :closing_time, nil, style: 'width: 110px', required: true, placeholder: '22:30', pattern: '[0-9]{2}:[0-9]{2}', title: 'Please provide a valid time format' %><br><br>
            </div>

            <%= label_tag :tags, 'Tags' %><br>
            <%= text_field_tag :tags, nil, required: true, placeholder: 'CHINESE SOUTH_INDIAN ARABIAN' %><br><br>

            <%= label_tag :status, 'Status' %><br>
            <%= select_tag :status, options_for_select(Shop::STATUSES.to_a) %><br><br>
            <%= submit_tag 'Update', class: 'chip mid-small active weight-600' %>
            <br><br>
          </div>
        <% end %>
      </div>
    </div>

    <div id="upload_modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hide_modal()">&times;</span><br>
        <%= form_tag '', id: 'update_icon', method: :put, multipart: true do %>
          <div class="left-40 right-50">
            <%= hidden_field_tag :purpose %><br>
            <%= label_tag :file, 'Upload Image' %><br>
            <%= file_field_tag :file, required: true, accept: 'image/png,image/jpg,image/jpeg' %><br><br>
            <%= submit_tag 'Upload', class: 'chip mid-small active weight-600' %><br><br>
          </div>
        <% end %>
      </div>
    </div>

    <div id="payment_json_modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hide_modal()">&times;</span><br>
        <%= form_tag payment_shop_path(@shop), method: :put do %>
          <div class="left-40 right-50">
            <pre class="smallest" id="payment_json_data"><%= sanitize JSON.pretty_generate(@shop.shop_detail.payment).html_safe %></pre>
            <%= hidden_field_tag :payment, nil %>
            <%= label_tag :payment_key, 'Key' %><br>
            <%= text_field_tag :payment_key, nil, placeholder: '"key_id"' %><br><br>
            <%= label_tag :payment_value, 'Value' %><br>
            <%= text_field_tag :payment_value, nil, placeholder: '10 / true / "string" / ["array1", "array2"]' %><br><br>
            <%= button_tag 'Apply', onclick: "update_data('payment')", class: 'chip mid-small active weight-600 center', type: 'button' %><br>
            <%= submit_tag 'Update', class: 'chip mid-small weight-600' %><br><br>
          </div>
        <% end %>
      </div>
    </div>

    <div id="meta_json_modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hide_modal()">&times;</span><br>
        <%= form_tag meta_shop_path(@shop), method: :put do %>
          <div class="left-40 right-50">
            <pre class="smallest" id="meta_json_data"><%= sanitize JSON.pretty_generate(@shop.shop_detail.meta).html_safe %></pre>
            <%= hidden_field_tag :meta, nil %>
            <%= label_tag :meta_key, 'Key' %><br>
            <%= text_field_tag :meta_key, nil, placeholder: '"key_id"' %><br><br>
            <%= label_tag :meta_value, 'Value' %><br>
            <%= text_field_tag :meta_value, nil, placeholder: '10 / true / "string" / ["array1", "array2"]' %><br><br>
            <%= button_tag 'Apply', onclick: "update_data('meta')", class: 'chip mid-small active weight-600 center', type: 'button' %><br>
            <%= submit_tag 'Update', class: 'chip mid-small weight-600' %><br><br>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_tag do %>
  function edit(shop) {
    document.getElementById("update").action = "<%= shop_index_path %>/" + shop.id;
    document.getElementById("name").value = shop.name;
    document.getElementById("mobile").value = shop['mobile'];
    document.getElementById("status").value = shop.status;
    document.getElementById("opening_time").value = shop['opening_time'];
    document.getElementById("closing_time").value = shop['closing_time'];
    document.getElementById("tags").value = shop['tags'];
    document.getElementById("modal").style.display = "block";
  }

  function upload_image(shop_id, purpose) {
    document.getElementById("update_icon").action = "/shop/" + shop_id + "/" + purpose;
    document.getElementById("purpose").value = purpose;
    document.getElementById("upload_modal").style.display = "block";
  }

  function show_json_modal(purpose) {
    document.getElementById(purpose + "_json_modal").style.display = "block";
  }

  function update_data(purpose) {
    key = document.getElementById(purpose + "_key").value;
    value = document.getElementById(purpose + "_value").value;
    if (key.length > 0) {
      data = JSON.parse(document.getElementById(purpose + "_json_data").innerHTML);
      data[JSON.parse(key)] = JSON.parse(value);

      document.getElementById(purpose + "_json_data").innerHTML = JSON.stringify(data, null, 2);
      document.getElementById(purpose).value = JSON.stringify(data);
      document.getElementById(purpose + "_key").value = document.getElementById(purpose + "_value").value = ""
    }
  }

  function hide_modal() {
    document.getElementById("modal").style.display = "none";
    document.getElementById("upload_modal").style.display = "none";
    document.getElementById("payment_json_modal").style.display = "none";
    document.getElementById("meta_json_modal").style.display = "none";
  }
<% end %>
