<!DOCTYPE html>
<html>
  <head>
    <title>Zinger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('zinger-logo.png') %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
